.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

blog/srv03rtm on win11/深入解析Windows操作系统(第4版).pdf
